/* Medium screens (between 1025px and 1199px) */
@media (min-width: 1025px) and (max-width: 1198px) {
  .responsive-image {
    width: 90vw; /* Adjust based on visual preference */
    max-width: 100%; /* Prevent image from exceeding its natural size */
  }
}

@media (max-width: 1025px) {
  .responsive-image {
    width: 40%; /* Adjust based on visual preference */
    max-width: 100%; /* Prevent image from exceeding its natural size */
  }
}

@media (max-width: 380px) {
  .responsive-image {
    width: 50%; /* Adjust based on visual preference */
    max-width: 100%; /* Prevent image from exceeding its natural size */
  }
}

/* Large screens (1200px and above) */
@media (min-width: 1200px) {
  .responsive-image {
    width: 20vw; /* Adjust the width as needed */
    max-width: none; /* Allow image to take up its natural width */
  }
}
